
{% extends "blog/layouts/main.html" %}

{% block content %}
    <div class="container row">
        <div class="col-sm-12">

            {% for post in posts %}
            <div class="card col-sm-8 col-sm-offset-2">
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }} </h5>
                    <p class="card-text">{{ post.content }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}